# Archivos de Build generados
/build
.gradle

# Archivos de Configuración Local y Sensibles
# ¡NUNCA subas este archivo! Contiene la ruta del SDK y las claves de API.
/local.properties
gha-creds-*.json

# Archivos de IDE (Android Studio)
*.iml
.idea/
.DS_Store

# Archivos de compilación nativa
.externalNativeBuild
.cxx

# Archivos de profiling y logs
/captures
*.log

# Archivos específicos de herramientas (Gemini, etc.)
.gemini/
