<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kairos">

        <!-- Actividad de Bienvenida (Nueva pantalla de inicio) -->
        <activity
            android:name=".ui.bienbenida.ActividadBienvenida"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad Principal (Ya no es la de inicio) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- Cambiado a false ya que no es LAUNCHER -->

        <!-- Declaración de nuestro Servicio de Accesibilidad -->
        <service
            android:name=".servicios.ServicioAccesibilidad"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <!-- Metadatos que apuntan a nuestro archivo de configuración del servicio -->
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/configuracion_servicio_accesibilidad" />
        </service>

    </application>

</manifest>